// basics
.app-website-navbar
  display: flex
  flex-direction: column
  width: 240px
  height: 100vh
  background-color: $palette--1j

// brand
.website-navbar__brand
  padding: 28px $gs-gutters
  border-bottom: solid 1px rgba(255, 255, 255, 0.1)

// menu
.website-navbar__menu
  margin-bottom: auto
  padding: 32px $gs-gutters

// help
.website-navbar__help
  height: 104px
  padding: 40px $gs-gutters
  border-top: solid 1px rgba(255, 255, 255, 0.1)
  border-bottom: solid 1px rgba(255, 255, 255, 0.1)

// user
.website-navbar__user
  height: 168px
  padding: 40px $gs-gutters

// sign-in
.website-navbar__sign-in
  background-color: #ff00ff
