// basics
*, *::after, *::before
   box-sizing: border-box

html
   line-height: $default__line-height
   -moz-osx-font-smoothing: grayscale
   -webkit-font-smoothing: antialiased
   -webkit-text-size-adjust: 100%
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
   min-width: $website__min-width
   margin: 0
   font-family: $default__font-family
   font-size: $default__font-size
   font-weight: $default__font-weight
   color: $default__text-color
   text-rendering: optimizeSpeed

main
   display: block

*:focus:not(:focus-visible)
   outline-width: 0

::selection
   color: $palette--wc
   text-shadow: none
   background-color: $palette--sb

// typography
h1, h2, h3, h4, h5, h6
   margin: 0
   text-rendering: optimizeLegibility

p
   margin: 0

ul, ol
   margin: 0
   padding: 0
   list-style: none

hr
   overflow: visible
   margin: 0

a
   text-decoration: none
   text-decoration-skip: edges
   background-color: transparent

b, strong
   font-weight: $default__font-weight--bold

sub, sup
   position: relative
   vertical-align: baseline
   line-height: 0
   font-size: 75%

sub
   bottom: -0.25em

sup
   top: -0.5em

small
   font-size: 100%

mark
   background-color: transparent

abbr[title]
   text-decoration: underline
   text-decoration-style: dotted
   border-bottom: none

code, kbd, samp
   font-family: $default__font-family--mono
   font-size: 1em

// media
img
   max-width: 100%
   height: auto
   border-style: none

iframe
   border: 0

// forms
input, textarea
   letter-spacing: inherit
   outline: 0

button
   padding: 0
   background-color: transparent
   border: 0
   outline: 0

button, input[type='button'], input[type='submit']
   letter-spacing: inherit
   cursor: pointer

button, input, optgroup, select, textarea
   margin: 0
   line-height: $default__line-height
   font-family: inherit
   font-size: 100%

button, input
   overflow: visible

button, select
   text-transform: none

button, [type='button'], [type='reset'], [type='submit']
   -webkit-appearance: button

fieldset
   padding: 0

legend
   display: table
   max-width: 100%
   padding: 0
   white-space: normal
   color: inherit

progress
   vertical-align: baseline

textarea
   overflow: auto
   resize: vertical

[type='checkbox'], [type='radio']
   padding: 0

[type='number']
   &::-webkit-inner-spin-button, &::-webkit-outer-spin-button // @stylint ignore
      height: auto

[type='search'] // @stylint ignore
   outline-offset: -2px
   -webkit-appearance: textfield

[type='search']::-webkit-search-decoration // @stylint ignore
   -webkit-appearance: none

::-webkit-file-upload-button // @stylint ignore
   font: inherit
   -webkit-appearance: button

details
   display: block

summary
   display: list-item

template
   display: none

[hidden]
   display: none
