// config
$website__min-width = 320px
// 
$default__font-family = $font-family--1a
$default__font-family--mono = $font-family--2a
// 
$default__line-height = $line-height--1b
$default__font-size = $font-size--1a
// 
$default__font-weight = $font-weight--1a
$default__font-weight--bold = $font-weight--1b
// 
$default__text-color = $palette--1d

// connect
@import '__skyrmion-mixins'
@import '__skyrmion-layout'
@import '__skyrmion-reset'
@import '__skyrmion-utility'
@import '__skyrmion-print'
